*{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
header{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../1_6Jp3vJWe7VFlFHZ9WhSJng.webp');
}
.inner .btn{
    background-color: brown !important;
    color: #fff !important;
    margin-bottom: 20px;
}
.inner .btn:hover{
    background-color: cadetblue !important;
    color: #000 !important;
}
@media only screen and (max-width :769px) {
   *{
    text-align: center;
   }
    
}
